
@{
    ViewData["Title"] = "Input Domain";
    Layout = null;
}

<form method="post">
    <label>Domain:</label><br />
    <input type="text" name="host" /><br /><br />
    <input type="submit" value="Отправить" />
</form>