
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<a class="nav-link text-dark" asp-area="" asp-controller="Parser" asp-action="Scan">Found all links for url</a>
<br />
<br />
<a class="nav-link text-dark" asp-area="" asp-controller="Parser" asp-action="Domain">All links for domain</a>
