
@{
    ViewData["Title"] = "Scan";
    Layout = null;
}

<form method="post">
    <label>Url:</label><br />
    <input type="text" name="url" /><br /><br />
    <label>Глубина:</label><br />
    <input type="number" name="depth" /><br /><br />
    <input type="submit" value="Отправить" />
</form>
